<app-nav></app-nav>
<p>
  {{game | json}}}
</p>
  <div class="col col-3 game">
      <h2>
          <a href="/games/{{game._id}}">{{game.name}}</a>
      </h2>
      <img [src]="game.creator.imgURL"/>
      <p>Host: {{game.creator.firstName}} {{game.creator.lastName}}</p>
  </div>
  <div class="col col-6">
      <p>When: {{game.time}}</p>
      <p>Where: {{game.location}}</p>
      <p>Details: {{game.details}}</p>
  </div>
  <div class="col col-2">
      <p>Players:</p>
      <p>{{game.players.length}} / {{game.size}}</p>
      <div *ngIf="joinErr">{{joinErr}}</div>
      <form #form="ngForm" (submit)="joinGame(game._id)" *ngIf="game.players.indexOf(user_id) === -1">
          <input type="Submit" value="Join This Game"/>
      </form>
      <form #form="ngForm" (submit)="leaveGame(game._id)" *ngIf="game.players.indexOf(user_id) > -1">
          <input type="Submit" value="Leave This Game"/>
      </form>
  </div>
  <div class="chatBox">
      <div class="chatMessage" *ngFor="let comment of game.comments">
          <div>
            <span>{{comment.author}}</span>, <span>{{comment.createdAt}}</span>: 
          </div>
          <p>{{comment.message}}</p>
      </div>
      <form #form="ngForm" (submit)="newComment()">
        <div class="form-group">
            <label for="message">New Comment: </label>
            <input type="text" name="message" [(ngModel)]="comment" required/>
        </div>
        <input type="submit" value="Post Comment" [disabled]="form.invalid"/>
      </form>
  </div>
