<app-nav></app-nav>
<p>
  {{game | json}}}
</p>
<app-gamebox [game]="game" [user_id]="user_id" (joinEmitter)="joinGame($event)"
(leaveEmitter)="leaveGame($event)" (closeEmitter)="closeGame($event)" (editEmitter)="editGame($event)"
(deleteEmitter)="deleteGame($event)" (openEmitter)="openGame($event)"></app-gamebox>
<div class="chatBox">
      <div class="chatMessage" *ngFor="let comment of game.comments">
          <div>
            <span>{{comment.author}}</span>, <span>{{comment.createdAt}}</span>: 
          </div>
          <p>{{comment.message}}</p>
      </div>
      <form #form="ngForm" (submit)="newComment()">
        <div class="form-group">
            <label for="message">New Comment: </label>
            <input type="text" name="message" [(ngModel)]="comment" required/>
        </div>
        <input type="submit" value="Post Comment" [disabled]="form.invalid"/>
      </form>
</div>
