.gamebox{
    border: 3px solid #A93B00;
    background-color: #0F2131;
    border-radius:3px;
    color:white;
    margin-top:15px;
    margin-bottom:15px;
    padding:5px;
    text-align:center;
}
.gamebox img{
    max-width:100px;
}
.actionForms{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;
}
.actionForms input{
    width:100px;
    margin:10px;
}
.actions{
    border:3px solid #F8CB2D;;
    border-radius: 5px;
}
.actions{
    background-color: #A93B00;
    /*background-color: #0F2131;*/
}
.actions h3{
    display:inline-block;
}
.gameInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}
.namePlusHost, .basics, .details, {
    text-align:center;
    width:33%;
}