<form #registerForm="ngForm" (submit)="register()" class="col">
  <fieldset>
  <legend>Register</legend>
  <div class="form-group">
      <label for="firstName">*First Name:</label>
      <input type="text" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" required/>
  </div>

  <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="error">Please enter a first name!</div>

  <div class="form-group">
      <label for="lastName">*Last Name:</label>
      <input type="text" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" required/>
  </div>

  <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="error">Please enter a last name!</div>

  <div class="form-group">
    <label for="email">*Email:</label>
    <input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required/>
  </div>

  <div *ngIf="email.errors && (email.dirty || email.touched)" class="error">Please enter an email!</div>

  <div class="form-group">
    <label for="password">*Password:</label>
    <input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required minlength="8"/>
  </div>

  <div *ngIf="password.errors && (password.dirty || password.touched)" class="error">Please enter a password of 8 or more characters!</div>

  <div class="form-group">
    <label for="passwordConfirmation">*Password Confirmation:</label>
    <input type="password" name="passwordConfirmation" [(ngModel)]="user.passwordConfirmation" #passwordConfirmation="ngModel" required/>
  </div>
  
  <div *ngIf="passwordConfirmation.errors && (passwordConfirmation.dirty || passwordConfirmation.touched)" class="error">Please enter a password confirmation of 8 or more characters!</div>

  <div *ngIf="user.password !== user.passwordConfirmation && (password.dirty || password.touched) && (passwordConfirmation.dirty || passwordConfirmation.touched)" class="error">Password confirmation must match password.</div>

  <div class="form-group">
    <label for="imgURL">*Profile Pic URL:</label>
    <input type="text" name="imgURL" [(ngModel)]="user.imgURL" #imgURL="ngModel" required validateUrl />
  </div>

  <div *ngIf="imgURL.errors && (imgURL.dirty || imgURL.touched)">Please enter a valid URL, ending in .jpg, .jpeg, .png, or .gif!</div>
 
  <div *ngIf="errorMsg" class="error">{{errorMsg}}</div>
  
  <input type="submit" value="Register" [disabled]="registerForm.invalid"/>
</fieldset>
</form>