<app-nav></app-nav>
{{games | json}}
<div class="game" *ngFor="let game of games">
    <div class="col-3">
        <h2>
            <a href="/games/{{game._id}}">{{game.name}}</a>
        </h2>
        <img src="{{game.creator.imgUrl}}"/>
        <p>Host: {{game.creator.firstName}} {{game.creator.lastName}}</p>
    </div>
    <div class="col-8">
        <p>When: {{game.time}}</p>
        <p>Where: {{game.location}}</p>
        <p>Details: {{game.details}}</p>
    </div>
    <div class="col-1">
        <p>Players:</p>
        <p>{{game.players.length}} / {{game.size}}</p>
    </div>
</div>