<form #form="ngForm" (submit)="search()">
  <div class="form-group">
    <label for="searchTerm">Search term (optional):</label>
    <input placeholder="Name, location, or description" name="searchTerm" [(ngModel)]="searchTerm" type="text"/>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select name="category" [(ngModel)]="category">
      <option value="Any">Any</option>
      <option value="Sport">Sport</option>
      <option value="Game">Game</option>
      <option value="Collaboration">Collaboration</option>
      <option value="Gathering">Gathering</option>
      <option value="Online game">Online game</option>
      <option value="Online collaboration">Online collaboration</option>
      <option value="Online gathering">Online gathering</option>
    </select>
  </div>
  <div class="form-group">
    <label for="justMine">Only get games I've signed up for</label>
    <input type="checkbox" (change)="toggleMine()" name="justMine" />
  </div>
  <input type="submit" value="Narrow the Field"/>
  <button (click)="resetSearch(); form.reset()">Reset Search Criteria</button>
</form>