img{
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    border: 5px solid #F8CB2D;
    border-radius:5px;
    max-width:95%;
}
.about{
    margin-left:3%;
    margin-right:3%;
}
ul{
    text-align: center;
    list-style-position: inside;
    list-style-image: url('../../assets/img/hexagon.png');
}
