<div class="about">
    <a class="bigLink" [routerLink]="['/']">Go get started!</a>
    <h2>What is PlayerToo?</h2>
    <p>
      PlayerToo is a social media platform that helps people to unify around events and activities. Registered users can do the following:
    </p>
    <hr />
    <ul>
      <li>Advertise events to the general public, or to friends only</li>
      <img src="../../assets/img/newactivity.png"/>
      <hr />
      <li>Make friends</li>
      <img src="../../assets/img/friends.png"/>
      <hr />
      <li>RSVP to events or un-RSVP</li>
      <img src="../../assets/img/bobsledding.png"/>
      <hr />
      <li>Plan/discuss an event with attendees, in its very own chat room</li>
      <img src="../../assets/img/chat.png"/>
      <hr />
      <li>Search for events by name, description, category, location, friends-only, and whether you've already created or joined it</li>
      <img src="../../assets/img/search.png"/>
      <hr />
      <li>Edit or delete events that you've created</li>
      <img src="../../assets/img/newactivity.png"/>
      <li>Edit your profile. Make sure to include a picture</li>
      <img src="../../assets/img/settings.png"/>
      <hr />
    </ul>
    <h2>Use Cases</h2>
    <p>PlayerToo was conceived as an app for recruiting people to play games, be it pickup basketball or online video games. But why stop there? 
      I realized that PlayerToo could work just as well to recruit people for almost any purpose. For example: labor-intensive volunteer projects,
      coversations on specific topics, and a business's promotional events.
    </p>
</div>